{% extends 'base.html.twig' %}

{% block body %}
    <h1>Tasks list</h1>

    <table>
        <thead>
            <tr>
                <th>Id</th>
                <th>Name</th>
                <th>Description</th>
                <th>Parentid</th>
                <th>Difficulty</th>
                <th>Starttime</th>
                <th>Priority</th>
                <th>Deadline</th>
                <th>Endtime</th>
                <th>Status</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for task in tasks %}
            <tr>
                <td><a href="{{ path('task_show', { 'id': task.id }) }}">{{ task.id }}</a></td>
                <td>{{ task.name }}</td>
                <td>{{ task.description }}</td>
                <td>{{ task.parentId }}</td>
                <td>{{ task.difficulty }}</td>
                <td>{% if task.startTime %}{{ task.startTime|date('Y-m-d H:i:s') }}{% endif %}</td>
                <td>{{ task.priority }}</td>
                <td>{% if task.deadline %}{{ task.deadline|date('Y-m-d H:i:s') }}{% endif %}</td>
                <td>{% if task.endTime %}{{ task.endTime|date('Y-m-d H:i:s') }}{% endif %}</td>
                <td>{{ task.displayStatus() }}</td>
                <td>
                    <ul>
                        <li>
                            <a href="{{ path('task_show', { 'id': task.id }) }}">show</a>
                        </li>
                        <li>
                            <a href="{{ path('task_edit', { 'id': task.id }) }}">edit</a>
                        </li>
                    </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('task_new') }}">Create a new task</a>
        </li>
    </ul>
{% endblock %}
